
/* BREW APP */
.brewAppContainer {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, var(--primary), var(--light_grey));
    min-width: 300px;
    min-height: 70vh;
    margin: 5px 5% 30px;
    border: 2px solid var(--dark);
    border-radius: 25px;
}

#btn_back {
    display: none;
    width: fit-content;
    outline: none;
    border-radius: 10px;
    font-size: 2em;
    font-weight: bold;
    margin: 0 10px;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
}

/* METHODS SCREEN */
#method_screen {
    display: block;
}

#brewMethodsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 15%;
    grid-template-columns: repeat(3, 1fr);
}

#selectBrewTitle {
    width: 100%;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.method_item {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.method_icon {
    width: 15vh;
    min-width: 75px;
    background-color: var(--dark);
    border-radius: 25px;
    margin: 0 10px;
    cursor: pointer;
}

.method_icon:hover {
    background-color: var(--light_dark);
}

.method_title {
    margin-top: 5px;
    font-weight: bold;
}

/* BREW DESCRIPTION SCREEN */
#brew_desc_screen {
    display: none;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
}

#brew_name {
    width: 100%;
    text-align: center;
    margin-top: 10vh;
    line-height: 3rem;
}

#brew_desc {
    text-align: center;
    margin: 5vh 20% 5%;
}

#brew_details_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4vh;;
}

#brew_details_container figure {
    width: 100px;
    height: 100px;
    background-color: var(--light_grey);
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    margin: 5px 5px;
}

#brew_details_container img {
    margin-bottom: 5px;
}

#coffee_amount, #water_amount, #grind_size {
    margin: 10px;
}

#btn_brew {
    width: 90px;
    outline: none;
    align-self: flex-end;
    background-color: var(--accent);
    padding: 10px 20px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: auto 5% 5%;
}

/* TIMER SCREEN */
#timer_screen {
    display: none;
}

#step_container {
    display: flex;
    height: 70vh;
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
}

#timerDisplay {
    width: fit-content;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 5% auto auto;
}

/* CONTAINER FOR STEP TYPE */
#step_container > figure {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}
/* STEP TYPE ICON */
#step_container i {
    font-size: calc(20pt + 8vh);
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    margin-right: 1%;
    text-align: center;
}
/* STEP TYPE CATPION */
#step_container figcaption {
    width: fit-content;
    font-size: 2.2rem;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
}

#step_description {
    text-align: center;
    font-size: 1.8rem;
    margin-top: auto;
}

/* CONTAINER FOR STEP POUR AMOUNT */
#step_pour_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#step_current_pour {
    font-size: 2.0rem;
}

#pour_divider {
    background-color: var(--light_dark);
    width: 100px;
    height: 4px;
}

#step_pour_amount {
    margin-top: 2%;
    font-size: 2.0rem;
}

#timerControls {
    display: flex;
    flex-direction: row;
    margin: auto 5% 5%;
    justify-content: center;
}

#timerControls > div {
    text-align: center;
}

#btn_toggle_sw {
    cursor: pointer;
    margin: 0 1vw;
}

#btn_reset_sw {
    cursor: pointer;
    margin: 0 1vw;
}

#duration {
    font-size: 2.2rem;
    font-weight: bold;

    margin: 0 5vw 0 0;
    /* margin: auto 5vw; */
}

#total_pour {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0 0 0 5vw;
    /* margin: auto 5vw; */
}

.timer_btn {
    outline: none;
    padding: 10px 20px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 10px;
}

.timerBtn:hover {
    background-color: var(--accent);
}