
/* BREW APP */
.brewAppContainer {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, var(--primary), var(--light_grey));
    min-height: 70vh;
    margin: 5px 5%;
    border: 2px solid var(--dark);
    border-radius: 25px;
}

/* METHODS SCREEN */
#method_screen {
    display: block;
}

#brewMethodsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 15%;
    grid-template-columns: repeat(3, 1fr);
}

#selectBrewTitle {
    width: 100%;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.method_item {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.method_icon {
    width: 15vh;
    min-width: 75px;
    background-color: var(--dark);
    border-radius: 25px;
    margin: 0 10px;
}

.method_icon:hover {
    background-color: var(--light_dark);
}

.method_title {
    margin-top: 5px;
    font-weight: bold;
}

/* BREW DESCRIPTION SCREEN */
#brew_desc_screen {
    display: none;
}

#brew_name {
    width: 100%;
    text-align: center;
    margin-top: 10vh;
    background-color: blue;
}

#brew_desc {
    width: fit-content;
    text-align: center;
    margin: 5% 10% 0;
    background-color: yellow;
}

/* TIMER SCREEN */
#timer_screen {
    display: none;
}

#btn_back {
    display: none;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
}

#timerDisplay {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#timerControls {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.timer_btn {
    outline: none;
    padding: 10px 20px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 10px;
}

.timerBtn:hover {
    background-color: var(--accent);
}