
#roast_img_container {
    position: relative;
}

#roast_img_container > h6 {
    position: absolute;
    color: white;
    bottom: 5%;
    right: 5%;
    font-style: italic;
}

.youtube_container {
    position: relative;
    width: 95%;
    padding-bottom: 55%;
    height: 0;
    margin: 5% auto;
    box-sizing: border-box;
    box-shadow: 5px 10px var(--accent);
}

.youtube_container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}