
:root {
    /* COLORS */
    --primary: white;
    --dark: #404040;
    --light_dark: #505050;
    --accent: #FF7171;

    --accentTransparent: rgba(255, 144, 144, 0.103);

    --light_grey: #D0D0D0;
    --lighter_grey: rgb(231, 231, 231);
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

/* HEADER */
header {
    height: 40px;
    position: relative;
}

nav {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
}

.nav_links {
    display: flex;
    z-index: 1;
}

nav ul li a {
    font-size: 2.2rem;
}

#hamburgerBtn {
    display: none;
}

h1, h2, h3, h4, h5, h6, header {
	font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 4.0rem;
    font-weight: bold;
}

h2 {
    font-size: 3.8rem;
    font-weight: bold;
}

h3 {
    font-size: 3.6rem;
    font-weight: bold;
}

h4 {
    font-size: 3.4rem;
    font-weight: bold;
}

h5 {
    font-size: 2.8rem;
    font-weight: bold;
}

h6 {
    font-size: 2.4rem;
}

p {
    line-height: 1.5;
}

.p_list {
    list-style-type: circle;
    line-height: 25px;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

@media only screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    #hamburgerBtn {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 16px;
        bottom: 0;
        font-size: 2.8rem;
    }
    .nav_links {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 35vh;
        height: 90vh;
        justify-content: space-evenly;
        right: 0;
        height: 92vh;
        top: 26px;
        transform: translateX(100%);
        background-color: var(--dark);
    }

    .nav_links li {
        width: fit-content;
    }

    nav ul li a {
        color: white;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}