

:root {
    /* COLORS */
    --primary: white;
    --dark: #404040;
    --accent: #FF7171;

    --accentTransparent: rgba(255, 144, 144, 0.103);

    --light_grey: #D0D0D0;

    /* VARIABLES */
    --nav_ease: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

/* HEADER */
header {
    height: 40px;
    position: relative;
}

nav {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
}

.nav_links {
    display: flex;
}

nav ul li a {
    font-size: 2.6rem;
}

#hamburgerBtn {
    display: none;
}

h1, h2, h3, h4, h5, h6, header {
	font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 4.0rem;
    font-weight: bold;
}

h2 {
    font-size: 3.8rem;
    font-weight: bold;
}

p {
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/* BREW APP */
#brewAppContainer {
    display: grid;
    z-index: -1;
    justify-content: center;
    position: relative;
    background-image: linear-gradient(to bottom, var(--primary), var(--light_grey));
    min-height: 70vh;
    padding: 20px;
    margin: 5px 60px;
    border: 2px solid var(--dark);
    border-radius: 25px;
}

/* METHODS SCREEN */
.method_item {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 120px;
}

.method_icon {
    flex-grow: 10;
    width: 7vw;
    min-width: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    margin: 0 10px;
}

.method_title {
    margin-top: 5px;
    font-weight: bold;
}

/* TIMER SCREEN */
#timerDisplay {
    display: none; /* block */
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: bold;
}

#timerControls {
    display: none; /* flex */
    justify-content: center;
    width: 100%;
    justify-content: center;
    position: absolute;
    padding: 25px;
    bottom: 0;
}

.timer_btn {
    outline: none;
    padding: 10px 20px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 10px;
}

.timerBtn:hover {
    background-color: var(--accent);
}

@media only screen and (max-width:800px) {
    body {
        overflow-x: hidden;
    }
    #hamburgerBtn {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 16px;
        bottom: 0;
        font-size: 2.8rem;
    }
    .nav_links {
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 90vh;
        justify-content: space-evenly;
        right: 0;
        height: 92vh;
        top: 26px;
        background-color: var(--dark);
        transition: transform calc(var(--nav_ease) * 0.5s) ease-in;
        transform: translateX(0%);
    }

    .nav_links li {
        width: fit-content;
    }
    
    nav ul li a {
        color: white;
    }
}

.nav_slide {
    transform: translateX(100%);
}

@media only screen and (min-width: 800px) {
    .nav_links {
        transform: translateX(0%);
    }
}